.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

@media screen and (min-width: 768px) {
  .body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 450px;
    margin-top: 8px;
    margin-bottom: 10px;
  }
}

.left-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
  background-color: #e2e8f0;
  height: 30%;
  padding: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .left-navbar {
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 30%;
    max-width: 250px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
  }
}

.navbar-heading {
  font-family: Roboto;
  color: #475569;
  font-size: 18px;
}

.list-item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .list-item {
    flex-direction: column;
  }
}

.item {
  font-family: Roboto;
  color: #64748b;
  font-size: 15px;
  font-weight: 500;
  margin: 8px;
  margin-left: 0px;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f1f5f9;
  height: 100%;
  padding: 25px;
  margin-top: 13px;
  margin-bottom: 5px;
}

.content-heading {
  font-family: Roboto;
  color: #475569;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .content-heading {
    font-size: 20px;
    text-align: left;
  }
}

.content-description {
  font-family: Roboto;
  color: #64748b;
  font-weight: 500;
  font-size: 15px;
}

.right-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
  background-color: #e2e8f0;
  height: 30%;
  padding: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .right-navbar {
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 30%;
    max-width: 250px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
  }
}

.ad-box-container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .ad-box-container {
    flex-direction: column;
    width: 100%;
  }
}

.box-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #475569;
  font-family: Roboto;
  font-size: 18px;
  height: 100px;
  width: 120px;
  border: 1px solid #475569;
  margin: 5px;
}

@media screen and (min-width: 768px) {
  .box-text {
    margin-right: 0px;
    width: 100%;
  }
}
