.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #475569;
  padding-left: 30px;
  padding: 15px;
}

.heading {
  font-family: Roboto;
  color: #ffffff;
  font-size: 22px;
  margin-top: 0px;
}

.checkbox {
  margin-right: 10px;
}

.label {
  font-family: Roboto;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
}
